<!doctype html>
<head>
  <style>
  body {
    background: #f1f1f1;
  }

  img, canvas {
    display: inline-block;
    margin: 10px;
  }
  </style>
</head>
<body>
<script src="../src/blockies.mjs"></script>
  <script type="module">

    const addresses = [
      '0x584D656E328a3B95A3FA48aBa40Da283D7204b8D',
      '0x659402C1A8B4C67125BefC8f67Ae7eD7eBE319E2',
      '0x5644b8Ec2353455E14C1e9A836b23C7B75988Bf9',
      '0xbb9bc244d798123fde783fcc1c72d3bb8c189413',
      '0x6090a6e47849629b7245dfa1ca21d94cd15878ef',
      '0x314159265dd8dbb310642f98f50c066173c1259b'
    ];

    // for(let i = 0; i < 128; i++) {
    //   addresses.push(
    //     Math.floor(Math.random() * Math.pow(10,10)).toString(16)
    //     + Math.floor(Math.random() * Math.pow(10,10)).toString(16)
    //     + Math.floor(Math.random() * Math.pow(10,10)).toString(16)
    //     + Math.floor(Math.random() * Math.pow(10,10)).toString(16)
    //   );
    // }

    for(let i = 0; i < addresses.length; i++) {
      const seed = addresses[i].toLowerCase();

      const canvas = createIcon({
        seed,
        size: 10,
        scale: 8
      });

      document.body.appendChild(canvas)
    }
  </script>
</body>