<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>tip tools</title>
<base target="_blank" />
<meta name="Keywords" content="tip tools" />
<meta name="Description" content="tip tools" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />



<link rel="stylesheet" href="mouseover-tip.css">

<script src="http://www.jq22.com/jquery/1.9.1/jquery.min.js"></script>

<script src="mouseover-tip.js"></script>
<style>


</style>
</head>

<body>

	<div class="demo demoUp" onmouseover="demoUp(this)" style="width: 60px;height: 30px">上边提示</div>
	<div class="demo demoDown" style="width: 60px;height: 30px">下边提示</div>
	<div class="demo demoLeft" style="width: 60px;height: 30px">左边提示</div>
	<div class="demo demoRight" style="width: 60px;height: 30px">右边提示</div>

<script>

	function demoUp(){
		var _this = $(this);
		_this.justToolsTip({
	        animation:"moveInTop",
	        // width:"50px",
	        contents:"_this.text()",
	        gravity:'top'
	    });
	}


	$(".demoDown").mouseover(function(){
		var _this = $(this);
		_this.justToolsTip({
	        animation:"moveInBottom",
	        //width:"300px",
	        contents:_this.text(),
	        gravity:'bottom'
	    });
	})

	$(".demoLeft").mouseover(function(){
		var _this = $(this);
		_this.justToolsTip({
	        animation:"moveInLeft",
	        //width:"300px",
	        contents:_this.text(),
	        gravity:'left'
	    });
	})
	$(".demoRight").mouseover(function(){
		var _this = $(this);
		_this.justToolsTip({
	        animation:"moveInRight",
	        //width:"300px",
	        contents:_this.text(),
	        gravity:'right'
	    });
	})


	$(".demoStyle1").mouseover(function(){
		var _this = $(this);
		_this.justToolsTip({
	        animation:"fadeIn",
	        contents:_this.text(),
	        theme:"abc",
	        gravity:'top'
	    });
	})

	$(".demoStyle2").mouseover(function(){
		var _this = $(this);
		_this.justToolsTip({
	        animation:"flipIn",
	        contents:_this.text(),
	        gravity:'left'
	    });
	})

	$(".demoStyle3").mouseover(function(){
		var _this = $(this);
		_this.justToolsTip({
	        animation:"flipIn",
	        //width:"300px",
	        contents:_this.text(),
	        gravity:'top'
	    });
	})

	$(".demoStyle4").mouseover(function(){
		var _this = $(this);
		_this.justToolsTip({
	        animation:"flipIn",
	        //width:"300px",
	        contents:_this.text(),
	        gravity:'bottom'
	    });
	})


	$(".demoStyle5").click(function(){
		var _this = $(this);
		_this.justToolsTip({
	        animation:"flipIn",
	        contents:_this.text(),
	        gravity:'right'
	    });
	})



	$(".justConfirm").click(function(){
		var _this = $(this);
		var abc = _this.justToolsTip({
	        animation:"moveInTop",
	        contents:"确定要删除吗？",
	        gravity:'top',
	        confirm:true,
	        onYes:function(self){
	        	console.log(self);
	        	alert("Yes")
	        },
	        noNO:function(self){
	        	console.log(self);
	        	alert("NO")
	        }
	    })
	    console.log(abc);
	})

</script>

</body>
</html>